* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(https://searchthisweb.com/wallpaper/space-dust_2560x1600_vijaj.jpg);
}
.adm-block {
  width: 400px;
  height: 400px;
  margin: auto;
}
.box {
  width: 25%;
  background-color: rgb(228, 130, 2);
  border: 3px solid rgb(0, 0, 0);
  color: white;
  font-size: 15px;
}
.medium-box {
  width: 100%;
  height: 25%;
  display: flex;
}
